.alertModal {
    width: fit-content;
    height: fit-content;
}

.ql-editor {
    min-height: 300px;
}

.tab-pill-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}